<section class="banner">
    <div class="container">
        <div class="banner__inner">
           
            <div class="banner__content">
                <div class="banner__title">
                    your agency.  
                    <span class="banner__span">in a box.</span> 
                </div>
                <div class="banner__subtitle">
                    All of your work in one place. And much more
                </div>
                <form action="">
                    <input class="banner__email" type="email" placeholder="Enter your email address">
                </form>
                <div class="btn__wrapper">
                    <button class="btn btn__outline" type="submit">Sign up</button>
                    <p class="btn__text"><span class="btn__text--span"></span>AND BE PART OF 
                        <span class="btn__text--span">THE CLOSED BETA
                        </span>
                    </p>
                </div>
                <div class="banner__stars">
                    <img class="stars" src="./assets/images/stars.svg" alt="stars">
                    <span class="stars__text">Based on 100+ marketers reviews on</span>
                </div>
                <div class="banner__sponsors">
                    <div class="banner__sponsors-item">
                        <img src="./assets/images/sponsors1.png" alt="">
                    </div>
                    <div class="banner__sponsors-item">
                        <img src="./assets/images/sponsors2.svg" alt="">
                    </div>
                    <div class="banner__sponsors-item">
                        <img src="./assets/images/sponsors3.svg" alt="">
                    </div>
                </div>
                
            </div>
            <div class="banner__img">
                <img class="hero__img" src="./assets/images/banner.svg" alt="banner">
                
            </div>
        </div>
    </div>
</section>