<!-- section creative cart -->
<section class="creative">
    <div class="container">
       
        <div class="creative__inner">
          <div class="creative__title">
            <a class="creative__header-link active" href="">create</a>
            <a class="creative__header-link" href="">manages</a>
            <a class="creative__header-link" href="">automate</a>
            <a class="creative__header-link" href="">chat</a>
            <a class="creative__header-link" href="">delegate</a>
          </div>
            <div class="creative__inner-container">
                <div class="creative__content">
                    <div class="creative__content-title title">all your creative tasks 
                       <span class="creative__content-title--span title-span">simplified with AI.</span> 
                    </div>
                    <div class="creative__content-subtitle subtitle">
                        Get content ideas, generate captions that respects brand’s tone of voice, design and plan your publications all in one place
                    </div>
                </div>
                <div class="creative__image">
                    <img class="creative__image-img" src="./assets/images/creative.svg" alt="">
                </div>
            </div>

           
            
        </div>
    </div>
</section>

<!-- /section creative cart -->