.btn {
    display: block;    
 
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    @media(max-width:480px)  {
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;

    }
   
}

.rounded__btn {
    text-decoration: none;
    padding: 12px 24px;
    color: #fff;
    background-color: var(--clr-pink);
    border-radius: 50px;
    &:hover {
        background: lighten(#F0998D, $amount: 5%);
        color: #fff;
        border-radius: 50px;
    }


}
.btn__outline {
    padding: 16px 38px;
    background-color: var(--clr-pink);
    border-radius: 15px;
    border: none;
    box-shadow: 0px 16px 40px rgba(255, 188, 166, 0.33);
    @media(max-width:480px) {
        padding: 8px 16px;
    }
    
    &:hover {
       background: darken($color: #F0998D, $amount: 10%);
    }

}
.nav__btns {
    display: flex;
    gap: 16px;
  
}
.nav__btn {
    @media(max-width:992px) {
        background-color: var(--clr-pink);
       
    }
}
//title 
.title {
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2rem, 1.591rem + 2.05vw, 3.125rem);
    line-height: 55px;
    letter-spacing: -0.03em;
    color: var(--clr-dark);
    &-span {
        color: var(--clr-pink);
    }

}
//subtitle
.subtitle {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-grey);

}

