/*---------------------header----------------------------*/
.header {
    padding: 14px;
    overflow: hidden;

    &__inner {
        width: 100%;
        max-width: 1160px;
        margin: 0 auto;
        display: flex;
        gap: clamp(3.125rem, -0.284rem + 17.05vw, 12.5rem);
        align-items: center;
        position: relative; 
        @media(max-width:1100px) {
            gap: 0;
        }
      
        @media(max-width:992px) {
           
            justify-content: space-between;
        }
    }
    &__logo {
        flex: 0 0 10%;
        display: block;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
       
    }
    &__menu {
        flex: 0 0 90%;
        display: flex;
        gap: 100px;
        justify-content: space-between;
        @media(max-width:1100px) {
            gap: 40px;
        }
    }


}


/*---------------------menu----------------------------*/
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;

  
    &__body {
        display: flex;
        @media (max-width:992px) {
            position: relative;
             position: fixed;
             top: 0;
             left: -100%;
             height: 100vh;
             width: 100%;
             background-color: rgb(197, 192, 228);
             display: flex;
             transition: 0.2s ease;
             overflow: auto;
             
        }
        &.active {
            left: 0;
            transition: 0.2s ease;
  
        }
     

    }
    &__list {
        list-style-type: none;
        display: flex;
        align-items: center; 
        gap: 30px;
        @media(max-width:1200) {
            gap: 20;
        }
     
        @media (max-width:992px) {
            flex-direction: column;
            padding: 30px;
            gap: 0;
            margin: auto;
        }
    }
   
    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--clr-grey) ;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        position: relative;
       
        &:after{
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background-color: green;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s;
        }
        &:hover {  
            transition: all 0.3s color;
            color: #000000;
            &:after {
                opacity: 1;
                visibility: visible;
            }
            
        }
        @media (max-width:992px) {
            display: block;
            font-size: 30px;
            line-height: 70px;
        }
    }
    &__icon {
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        cursor: pointer;
        span {
            @media (max-width:992px) {
                position: absolute;
                top: 50%;
                top: calc(50% - 1px);
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #000;
                transition: all 0.2s;
                &:first-child {
                    top: 0;
                    
                }
                &:last-child {
                    top: auto;
                    bottom: 0;
                   
                }
            }
           
        }
        &.active {
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child {
                    transform: rotate(45deg);
                    top: calc(50% - 1px);
                    
                }
            }
         

        }

    }


}


.select {
    display: flex;
    align-items: center;
    @media(max-width:992px) {
        display: none;
    }
}
