<!-- Navbar -->
<header class="header">
  <div class="container">
    <div class="header__inner">
        <a class="header__logo" href="#">logo</a>
        <div class="header__menu menu">
        
          <nav class="menu__body">
              <ul class="menu__list">
                  <li class="menu__item"><a class="menu__link"  href="#">Portfolio</a> </li>
                  <li class="menu__item"><a class="menu__link"  href="#">About</a> </li>
                  <li class="menu__item"><a class="menu__link"  href="#">Contact</a> </li>
    
              </ul>
              
          </nav>
                  
              <div class="menu__icon">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          
        </div>
    </div>
    
   
  
     
</header>

    
     