/*---------------------header----------------------------*/
.header {
    background-color: rgb(39, 146, 218);
    padding: 20px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative; 
    }
    &__logo {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
       
    }
}


/*---------------------menu----------------------------*/
.menu {
    display: flex;
    align-items: center;
    &__body {
       
        @media (max-width:992px) {
             position: absolute;
             position: fixed;
             top: 0;
             left: -100%;
             height: 100vh;
             width: 100%;
             background-color: rgb(236, 13, 13);
             display: flex;
             transition: 0.2s ease;
             overflow: auto;
             
        }
        &.active {
            left: 0;
            transition: 0.2s ease;
        }
       

    }
    &__list {
        list-style-type: none;
        display: flex;
        align-items: center;
        
        gap: 30px;
        @media (max-width:992px) {
            flex-direction: column;
            padding: 30px;
            gap: 0;
            margin: auto;

        }
    }
   
    &__link {
        color: #fff;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {  
            text-decoration: underline;
            transition: all 0.3s ease-in-out;
        }
        @media (max-width:992px) {
            display: block;
            font-size: 30px;
            line-height: 70px;
        }
    }
    &__icon {
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        cursor: pointer;
        span {
            @media (max-width:992px) {
                position: absolute;
                top: 50%;
                top: calc(50% - 1px);
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #fff;
                transition: all 0.2s;
                &:first-child {
                    top: 0;
                    
                }
                &:last-child {
                    top: auto;
                    bottom: 0;
                   
                }
            }
           
        }
        &.active {
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child {
                    transform: rotate(45deg);
                    top: calc(50% - 1px);
                    
                }
            }
         

        }

    }


}
