<!-- Navbar -->
<header class="header">
  <div class="container">
    <div class="header__inner">
        <a class="header__logo" href=""><img src="./assets/images/logo.png" alt=""></a>
        <div class="header__menu menu">
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li class="menu__item"><a class="menu__link"  href="#">Product</a> </li>
                        <li class="menu__item"><a class="menu__link"  href="#">Use Case</a> </li>
                        <li class="menu__item"><a class="menu__link"  href="#">Learn</a> </li>
                        <li class="menu__item"><a class="menu__link"  href="#">Comparison</a> </li>
                        <li class="menu__item"><a class="menu__link"  href="#">About</a> </li>
                        <li class="menu__item"><a class="menu__link"  href="#">Pricing</a> </li>
                        <li class="menu__item"><a class="menu__link"  href="#">Contact Sales</a> </li>
                        
                    </ul> 
                </nav>
                <div class="nav__btns ">
                    <a class="rounded__btn nav__btn " href="">Sign in</a>
                    <div class="select">En</div>
                </div>
                

              <div class="menu__icon">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          
        </div>
    </div>
    
   
  
     
</header>

    
     