<section class="section-slider">
    <div class="slider-container">
      <div class="slide">
        <img src="https://images.pexels.com/photos/10227348/pexels-photo-10227348.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="slide-img" alt="image " />
        <h1>Lorem ipsum dolor sit.</h1>
      </div>
      <div class="slide">
        <img src="https://images.pexels.com/photos/10227348/pexels-photo-10227348.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="slide-img" alt="image " />
        <h1>Lorem ipsum dolor sit.</h1>
      </div>
      <div class="slide">
        <img src="https://images.pexels.com/photos/12390070/pexels-photo-12390070.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="slide-img" alt="image" />
        <h1>Lorem ipsum dolor sit.</h1>
      </div> <div class="slide">
        <img src="https://images.pexels.com/photos/13248508/pexels-photo-13248508.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="slide-img" alt="image" />
        <h1>Lorem ipsum dolor sit.</h1>
      </div>


      <div class="slide">
        <img src="https://images.pexels.com/photos/10227348/pexels-photo-10227348.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="slide-img" alt="image" class="slide-img" alt="image" />
        <h1>1</h1>
      </div>
      <div class="slide">
        <img src="https://images.pexels.com/photos/10227348/pexels-photo-10227348.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="slide-img" alt="image " />
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit!</h1>
      </div>
    
    </div>
    <!--/slide container-->
    <div class="btn-container">
      <button type="button" class="prevBtn">
        prev 
      </button>
      <button type="button" class="nextBtn">
        next
      </button>
    </div>

</section>
